.text {
  font-style: 24px;
}
.cont {
  position: absolute;
  z-index: 100;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 36px;
  font-weight: 600;
  background: rgb(255, 255, 255);
}
.contMain {
}
.body {
  position: relative;
}
.body {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Центрує вертикально */
  align-items: center; /* Центрує горизонтально */
  height: 100vh; /* Займає всю висоту екрану */
  text-align: center;
  box-shadow: 1px 16px 27px -18px rgba(66, 68, 90, 1);
  color: rgb(5, 3, 54);
  font-family: "Montserrat", sans-serif;
  /* box-shadow: inset 0px 5px 10px 0px rgba(0, 255, 255, 0.7); */
  margin: 25px;
  border-radius: 8px;
  /* background: #ecf6e8; */
}
.input {
  padding: 12px;
  font-size: 18px;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  width: 250px;
  margin-bottom: 10px;
  background: #0084d5;
  color: rgb(255, 255, 255);
  margin-top: 20px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}
.input::placeholder {
  color: rgb(255, 255, 255);
  text-align: center;
  font-family: "Montserrat", sans-serif;
}
.input:focus-visible {
  border: none;
}
.error {
  color: red;
  font-size: 24px;
}

.button {
  font-family: "Montserrat", sans-serif;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  background: #ffd52b;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
  color: rgb(1, 44, 17);
  font-size: 18px;
  font-weight: 600;
}

.contMain {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cont {
  position: absolute;
  z-index: 100;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 36px;
  font-weight: bold;
  color: #0084d5;
  /* background: rgba(99, 233, 140, 0.7); */
  padding: 19px 30px;
  width: 160px;
  border-radius: 10px;
}
